/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-500 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v20-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }

html{
    box-sizing: border-box ;
    
}

*, *::before,*::after {
    box-sizing: inherit;
}
body{
    font-family: 'Roboto' ;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}
img{
    max-width: 100%;
    height: auto;
}

.header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    transition: 0.3s linear;
    z-index: 999;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.wrapper {
    max-width: 962px;
    margin: 0 auto;
}



    /*Header style start*/

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    justify-content: space-between;
    padding: 30px 0;
    
}
.header__logo{
    margin-right: 15px;
    margin-bottom: 15px;
}

.header__button{
    width: 78px;
    padding: 14px 20px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    color: black;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    background: #FFFFFF;
}

.header__button:hover, .header__button:focus, .header__button:active{
    background-color: #000000;
    color: #E0E0E0;
}
.header__basket{
    width: 19px;
    height: 22px;
    margin-left: 27px;
}

    /*Header style end*/



    /* Form style start*/

.main{
    margin-top: 146px;
}

.search-form{
    background:transparent;  
    border-bottom: 1px solid #757575;
}

.search-form__field{
    width: 100%;
    height: 48px;
    border: 0;
    background:transparent;    
}

    /* Form style end*/



    /* Restaurants style start*/
.restaurants{
    margin-bottom: 80px;
}    
.restaurants__cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 11px;
    row-gap: 16px;
}

.restaurants__card{
    grid-column: span 2;
}
.restaurants__title{
    margin-top: 56px;
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 34px;
    color: #1D1D1D;
}

.restaurants__card-pic img{
    width: 100%;
}

.restaurants__card-desc-neme {
    margin: 16px 4px;
}
.restaurants__card-desc-neme > a{
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;   
    text-decoration: none;
}
.restaurants__card-desc-view{
   font-size: 14px;
    line-height: 21px;
    color: #626262;
    margin: 4px 0 4px 0; 
}
.restaurants__card-desc-time{
    font-size: 13px;
    line-height: 21px;
    color: #1D1D1D;
    margin-bottom: 20px;
}

    /* Restaurants style end*/



    /* Footer style start*/
.footer{
    position: relative;
    width: 100%;
    height: 100%;
    background: #262626;
}

.footer__green-button{
    position: fixed;
    width: 80px;
    height: 80px;
    right: 16px;
    bottom: 24px;
    background: #59BD5A;
    border-radius: 2px;
}
.footer__green-button-arrow{
    padding: 27px 32px;
}

.footer__green-button:hover{
    background-color: #236324;;
}

.footer__logo{
    padding-top:56px; 
}

.footer__line1{
    padding: 40px 0 32px;
}
.footer__line1-clas{
    
    color: #FFFFFF;;
    mix-blend-mode: normal;
    opacity: 0.4;

}

.footer__nav-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.footer__nav-grid-column-1,.footer__nav-grid-column-2,.footer__nav-grid-column-3{
    grid-column: span 2;
}

.footer__nav-select{
  height: 40px;
  width: 227px;
  background-color: #3B3B3B;
  background-image: url("../img/svg/world_ico.svg");
  background-size: 18px;
  background-position: 16px  center ;
  background-repeat: no-repeat;

  border-radius: 2px; 
  outline: none;
  cursor: pointer;
  border: none;
  color: #FFFFFF;
  padding-left: 48px;

}

.footer__nav-name{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer__nav-name > p > span{
    font-size: 16px;
    line-height: 19px;
    color: #49A144;
    margin-bottom: 33px;
}

.footer__nav-name{
    margin-top: 22px;
}

.footer__nav-icons{
    margin-top:22px ;
}

.footer__nav-grid-column-2 > ul > a{
    text-decoration: none;
   
}
.footer__nav-grid-column-2 > ul > a > li{
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 23px 0 0 0;
    
}

.first-child:first-child{
    margin-top: 0;
}



.footer__nav-grid-column-3 > ul > a{
    text-decoration: none;
}

.footer__nav-grid-column-3 > ul > a > li{
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 23px 0 0 0;
}

.footer__line2{
    padding-top: 48px;
    padding-bottom: 41px;
}

.footer__line2-clas{
    color: #FFFFFF;;
    mix-blend-mode: normal;
    opacity: 0.4;
}

.footer__item-ico{
    display: flex;
    justify-content: center;
}


.footer__item-ico-2{
    margin-left: 41px;
}

.footer__line3{
    padding: 40px 0 0 0;
}

.footer__line3-clas{
    color: #FFFFFF;;
    mix-blend-mode: normal;
    opacity: 0.4;
}

.footer__item-end-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__item-end-grid-column{
    margin: 40px 0 40px 0;
}

.footer__item-end-grid-column > a{
    text-decoration: none;
    font-size: 12px;
    line-height: 13px;
    color: #FFFFFF;

}
    /* Footer style end*/

@media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
      scroll-behavior: smooth;
    }
}

  @media screen and (max-width: 960px) {
    .wrapper{
        margin-left: 10px;
        margin-right: 10px;
    }

    .restaurants__card{
        grid-column: span 3;
    }
}

@media screen and (max-width: 762px) {
    .footer__green-button{
        width: 40px;
        height: 40px;
    }

    .footer__green-button-arrow{
        padding: 13px 16px;
    }

    .restaurants__card{
        grid-column: span 6;
    }

    .footer__nav-grid-column-1{
        grid-column: span 3;
    }

    .footer__item-end-grid{
        row-gap: 24px; 
    }
    .footer__item-end-grid-column{
        grid-column: span 3;
        margin: 0;       
    }

    .footer__item-end-grid-column:last-child{
        margin-bottom: 40px;
    }

    .footer__nav-grid{
        row-gap: 23px;
    }
    .footer__nav-grid-column-1,.footer__nav-grid-column-2,.footer__nav-grid-column-3{
        grid-column: span 6;
        
    }

    .footer__line2{
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .footer__line3{
        padding-top: 20px;
    }
    }
    .footer__nav-grid-column-3:last-child{
        margin-bottom: 40px;
    }
}    




